.u-section-1 {
  background-position: 50% 50%, 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('images/sjp2cdofficial_cover.jpg');
  background-size: cover, cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 332px;
}

.u-section-1 .u-text-1 {
  font-weight: 900;
  margin: 110px auto 0;
}

.u-section-1 .u-line-1 {
  width: 912px;
  height: 0;
  margin: 30px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 285px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 93px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-line-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 225px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 86px;
  }

  .u-section-1 .u-line-1 {
    margin-top: 23px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
    height: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 199px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 80px;
  }

  .u-section-1 .u-line-1 {
    margin-top: 16px;
    height: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1894px;
}

.u-section-2 .u-group-1 {
  min-height: 1864px;
  margin-top: 31px;
  margin-bottom: 0;
  height: auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-2 .u-group-2 {
  width: 723px;
  min-height: 88px;
  height: auto;
  margin: 10px auto 0 30px;
}

.u-section-2 .u-text-1 {
  font-size: 1.875rem;
  margin: 20px 0 0 55px;
}

.u-section-2 .u-shape-1 {
  width: 15px;
  height: 48px;
  margin: -48px auto 0 30px;
}

.u-section-2 .u-image-1 {
  width: 225px;
  height: 225px;
  margin: -10px auto 0;
}

.u-section-2 .u-text-2 {
  font-weight: 400;
  font-size: 1rem;
  margin: 20px 60px 0;
}

.u-section-2 .u-group-3 {
  width: 745px;
  min-height: 88px;
  height: auto;
  margin: 60px auto 0 31px;
}

.u-section-2 .u-text-3 {
  font-size: 1.875rem;
  margin: 20px 0 0 55px;
}

.u-section-2 .u-shape-2 {
  width: 15px;
  height: 48px;
  margin: -48px auto 0 30px;
}

.u-section-2 .u-text-4 {
  font-size: 1rem;
  margin: 20px 60px 0;
}

.u-section-2 .u-group-4 {
  width: 723px;
  min-height: 88px;
  height: auto;
  margin: 30px auto 0 31px;
}

.u-section-2 .u-text-5 {
  font-size: 1.875rem;
  margin: 20px 0 0 55px;
}

.u-section-2 .u-shape-3 {
  width: 15px;
  height: 48px;
  margin: -48px auto 0 30px;
}

.u-section-2 .u-text-6 {
  font-weight: 400;
  font-size: 1rem;
  margin: 6px 65px 0 60px;
}

.u-section-2 .u-group-5 {
  width: 1059px;
  min-height: 323px;
  height: auto;
  margin: -15px auto 0 20px;
}

.u-section-2 .u-container-layout-5 {
  padding: 0;
}

.u-section-2 .u-group-elements-1 {
  width: 300px;
  min-height: 259px;
  height: auto;
  margin: 42px auto 0 40px;
}

.u-section-2 .u-image-2 {
  height: 169px;
  width: 300px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-7 {
  font-weight: 400;
  font-size: 0.875rem;
  margin: 0;
}

.u-section-2 .u-text-8 {
  font-weight: 400;
  font-size: 1rem;
  margin: -269px 0 0 360px;
}

.u-section-2 .u-text-9 {
  font-weight: 400;
  font-size: 1rem;
  margin: 9px 60px 0 56px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1912px;
  }

  .u-section-2 .u-group-1 {
    min-height: 1882px;
    height: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-2 .u-group-2 {
    margin-left: -29px;
    height: auto;
  }

  .u-section-2 .u-shape-1 {
    margin-left: 31px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-group-3 {
    margin-top: 27px;
    margin-left: -28px;
    height: auto;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 2px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-group-4 {
    margin-top: 10px;
    margin-left: -28px;
    height: auto;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: 10px;
    margin-right: -1px;
    margin-left: 1px;
  }

  .u-section-2 .u-group-5 {
    min-height: 344px;
    width: 940px;
    margin-left: 1px;
    height: auto;
  }

  .u-section-2 .u-group-elements-1 {
    margin-top: 53px;
    margin-left: 0;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-top: -282px;
    margin-left: 321px;
  }

  .u-section-2 .u-text-9 {
    width: auto;
    margin-top: 20px;
    margin-right: -1px;
    margin-left: 1px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2377px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 30px;
    margin-bottom: 16px;
    min-height: 2331px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 2px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 0;
  }

  .u-section-2 .u-group-4 {
    margin-top: 0;
    margin-right: 25px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-group-5 {
    min-height: 589px;
    margin-top: 5px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-group-elements-1 {
    margin-top: 29px;
    margin-left: auto;
  }

  .u-section-2 .u-text-7 {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-8 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-2 .u-text-9 {
    margin-top: 27px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2172px;
  }

  .u-section-2 .u-group-1 {
    margin-bottom: 12px;
    min-height: 2777px;
  }

  .u-section-2 .u-group-2 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 11px;
    margin-right: -100px;
    margin-left: 23px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: -42px;
    margin-left: 0;
  }

  .u-section-2 .u-group-3 {
    min-height: 72px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.25rem;
    width: auto;
    margin-left: 25px;
  }

  .u-section-2 .u-shape-2 {
    margin-top: -40px;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-top: -3px;
  }

  .u-section-2 .u-group-4 {
    min-height: 74px;
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.25rem;
    width: auto;
    margin-left: 25px;
  }

  .u-section-2 .u-shape-3 {
    margin-top: -40px;
    margin-left: 0;
  }

  .u-section-2 .u-group-5 {
    min-height: 703px;
    margin-top: 51px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-group-elements-1 {
    margin-top: -31px;
  }

  .u-section-2 .u-image-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-8 {
    margin-top: 22px;
  }

  .u-section-2 .u-text-9 {
    margin-top: -94px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 3720px;
  }

  .u-section-2 .u-group-1 {
    margin-bottom: 15px;
    min-height: 3675px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-2 .u-group-2 {
    width: 340px;
  }

  .u-section-2 .u-text-1 {
    margin-right: -23px;
    margin-left: 25px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: -56px;
  }

  .u-section-2 .u-group-3 {
    min-height: 76px;
    margin-top: 32px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-3 {
    margin-top: 7px;
  }

  .u-section-2 .u-shape-2 {
    margin-top: -56px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 10px;
  }

  .u-section-2 .u-group-4 {
    min-height: 66px;
    margin-top: 19px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-5 {
    margin-top: 3px;
  }

  .u-section-2 .u-shape-3 {
    margin-top: -56px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 11px;
  }

  .u-section-2 .u-group-5 {
    min-height: 1063px;
    margin-top: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-group-elements-1 {
    width: 299px;
    min-height: 281px;
    margin-top: 32px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-right: 1px;
    margin-left: 0;
  }

  .u-section-2 .u-text-8 {
    margin-top: 0;
  }

  .u-section-2 .u-text-9 {
    margin-top: -205px;
  }
} .u-section-3 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

.u-section-3 .u-sheet-1 {
  min-height: 799px;
}

.u-section-3 .u-group-1 {
  width: 723px;
  min-height: 88px;
  height: auto;
  margin: 0 auto 0 31px;
}

.u-section-3 .u-text-1 {
  font-size: 1.875rem;
  margin: 20px 0 0 55px;
}

.u-section-3 .u-shape-1 {
  width: 15px;
  height: 48px;
  margin: -48px auto 0 30px;
}

.u-section-3 .u-image-1 {
  height: 641px;
  margin-top: 10px;
  margin-bottom: 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 699px;
  }

  .u-section-3 .u-group-1 {
    margin-left: -30px;
    height: auto;
  }

  .u-section-3 .u-shape-1 {
    margin-left: 31px;
  }

  .u-section-3 .u-image-1 {
    height: 551px;
    width: 980px;
    margin-top: 0;
    margin-left: -20px;
    margin-right: -20px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 553px;
  }

  .u-section-3 .u-image-1 {
    height: 405px;
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 452px;
  }

  .u-section-3 .u-group-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 11px;
    margin-right: -100px;
    margin-left: 23px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: -42px;
    margin-left: 0;
  }

  .u-section-3 .u-image-1 {
    height: 304px;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 310px;
  }

  .u-section-3 .u-group-1 {
    min-height: 58px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-1 {
    margin-right: -23px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: -40px;
  }

  .u-section-3 .u-image-1 {
    height: 212px;
    width: 378px;
    margin-left: -19px;
    margin-right: -19px;
    margin-bottom: 40px;
  }
}
