.u-section-1 {
  background-position: 50% 50%, 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('images/sjp2cdofficial_cover.jpg');
  background-size: cover, cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 332px;
}

.u-section-1 .u-text-1 {
  font-weight: 900;
  margin: 110px auto 0;
}

.u-section-1 .u-line-1 {
  width: 912px;
  height: 0;
  margin: 30px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 285px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 93px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-line-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 272px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
  }

  .u-section-1 .u-line-1 {
    width: 540px;
    margin-top: 31px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 259px;
  }

  .u-section-1 .u-line-1 {
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1427px;
}

.u-section-2 .u-group-1 {
  min-height: 1398px;
  margin-top: 31px;
  margin-bottom: 0;
  height: auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 0 29px;
}

.u-section-2 .u-group-2 {
  width: 723px;
  min-height: 88px;
  height: auto;
  margin: 10px auto 0 30px;
}

.u-section-2 .u-text-1 {
  font-size: 1.875rem;
  margin: 20px 0 0 55px;
}

.u-section-2 .u-shape-1 {
  width: 15px;
  height: 48px;
  margin: -48px auto 0 30px;
}

.u-section-2 .u-image-1 {
  width: 225px;
  height: 225px;
  margin: -10px auto 0;
}

.u-section-2 .u-text-2 {
  font-weight: 400;
  font-size: 1rem;
  margin: 20px 60px 0;
}

.u-section-2 .u-group-3 {
  width: 723px;
  min-height: 88px;
  height: auto;
  margin: 30px auto 0 30px;
}

.u-section-2 .u-text-3 {
  font-size: 1.875rem;
  margin: 20px 0 0 55px;
}

.u-section-2 .u-shape-2 {
  width: 15px;
  height: 48px;
  margin: -48px auto 0 30px;
}

.u-section-2 .u-text-4 {
  font-weight: 400;
  font-size: 1rem;
  margin: 27px 60px 0;
}

.u-section-2 .u-group-4 {
  width: 1059px;
  min-height: 323px;
  height: auto;
  margin: -15px auto 0 20px;
}

.u-section-2 .u-container-layout-4 {
  padding: 0;
}

.u-section-2 .u-group-elements-1 {
  width: 300px;
  min-height: 281px;
  height: auto;
  margin: 30px auto 0 40px;
}

.u-section-2 .u-image-2 {
  height: 169px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-5 {
  font-weight: 400;
  font-size: 0.875rem;
  margin: 0;
}

.u-section-2 .u-text-6 {
  font-weight: 400;
  font-size: 1rem;
  margin: -281px 0 0 360px;
}

.u-section-2 .u-text-7 {
  font-weight: 400;
  font-size: 1rem;
  margin: 9px 55px 0 61px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1482px;
  }

  .u-section-2 .u-group-1 {
    margin-bottom: 16px;
    min-height: 1435px;
    height: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-2 .u-group-2 {
    margin-left: -29px;
    height: auto;
  }

  .u-section-2 .u-shape-1 {
    margin-left: 31px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-group-3 {
    margin-top: 14px;
    margin-left: -29px;
    height: auto;
  }

  .u-section-2 .u-shape-2 {
    margin-left: 31px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 2px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-group-4 {
    min-height: 344px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
    height: auto;
  }

  .u-section-2 .u-group-elements-1 {
    min-height: 262px;
    margin-top: 53px;
    margin-left: 0;
  }

  .u-section-2 .u-image-2 {
    height: 150px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: -285px;
    margin-left: 321px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1920px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 54px;
    margin-bottom: 23px;
    min-height: 1844px;
  }

  .u-section-2 .u-group-4 {
    min-height: 549px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-group-elements-1 {
    min-height: 227px;
    margin-top: 30px;
    margin-left: auto;
  }

  .u-section-2 .u-image-2 {
    height: 115px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 10px;
    margin-left: 0;
  }

  .u-section-2 .u-text-7 {
    margin-top: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2280px;
  }

  .u-section-2 .u-group-1 {
    margin-bottom: 60px;
    min-height: 2127px;
  }

  .u-section-2 .u-group-2 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 11px;
    margin-right: -100px;
    margin-left: 23px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: -42px;
    margin-left: 0;
  }

  .u-section-2 .u-group-3 {
    margin-top: 81px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 11px;
    margin-right: -100px;
    margin-left: 23px;
  }

  .u-section-2 .u-shape-2 {
    margin-top: -42px;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-top: -20px;
  }

  .u-section-2 .u-group-4 {
    min-height: 703px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-group-elements-1 {
    min-height: 284px;
  }

  .u-section-2 .u-image-2 {
    height: 172px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 11px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 9px;
    margin-bottom: -70px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2973px;
  }

  .u-section-2 .u-group-1 {
    margin-bottom: 10px;
    min-height: 2910px;
  }

  .u-section-2 .u-group-2 {
    width: 340px;
  }

  .u-section-2 .u-text-1 {
    margin-right: -23px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: -56px;
  }

  .u-section-2 .u-group-3 {
    margin-top: 60px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-3 {
    margin-right: -23px;
  }

  .u-section-2 .u-shape-2 {
    margin-top: -56px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 8px;
  }

  .u-section-2 .u-group-4 {
    min-height: 1063px;
    margin-top: -23px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-group-elements-1 {
    min-height: 285px;
    margin-top: 31px;
  }

  .u-section-2 .u-image-2 {
    height: 173px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 9px;
  }

  .u-section-2 .u-text-7 {
    margin-top: -172px;
    margin-bottom: 0;
  }
}
