.u-section-1 {
    background-position: 50% 50%, 50% 50%;
    background-repeat: no-repeat, no-repeat;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('images/sjp2cdofficial_cover.jpg');
    background-size: cover, cover;
  }
  
  .u-section-1 .u-sheet-1 {
    min-height: 332px;
  }
  
  .u-section-1 .u-text-1 {
    font-weight: 900;
    margin: 60px 69px;
  }
  
  @media (max-width: 1199px) {
    .u-section-1 .u-sheet-1 {
      min-height: 274px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-1 .u-sheet-1 {
      min-height: 210px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-1 .u-sheet-1 {
      min-height: 158px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-1 .u-sheet-1 {
      min-height: 99px;
    }
  
    .u-section-1 .u-text-1 {
      width: auto;
      margin-left: 25px;
      margin-right: 25px;
    }
  } .u-section-2 {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .u-section-2 .u-sheet-1 {
    min-height: 1388px;
  }
  
  .u-section-2 .u-group-1 {
    min-height: 1307px;
    box-shadow: 0px 0px 5px 0px rgba(128,128,128,1);
    height: auto;
    margin-top: 41px;
    margin-bottom: 40px;
  }
  
  .u-section-2 .u-container-layout-1 {
    padding: 0;
  }
  
  .u-section-2 .u-group-elements-1 {
    width: 301px;
    min-height: 593px;
    margin: 20px auto 0 29px;
  }
  
  .u-section-2 .u-text-1 {
    font-size: 1.25rem;
    margin: 0;
  }
  
  .u-section-2 .u-icon-1 {
    font-size: 1.5em;
    vertical-align: -2px;
  }
  
  .u-section-2 .u-btn-1 {
    letter-spacing: 1px;
    background-image: none;
    box-shadow: 0px 0px 5px 0px rgba(128,128,128,1);
    font-weight: 400;
    font-size: 0.875rem;
    margin: 5px 1px 0 0;
    padding: 17px 80px 18px 79px;
  }
  
  .u-section-2 .u-btn-2 {
    letter-spacing: 1px;
    box-shadow: 0px 0px 5px 0px rgba(128,128,128,1);
    font-weight: 400;
    font-size: 0.875rem;
    background-image: none;
    margin: 16px 1px 0 0;
    padding: 8px 42px;
  }
  
  .u-section-2 .u-btn-3 {
    letter-spacing: 1px;
    background-image: none;
    box-shadow: 0px 0px 5px 0px rgba(128,128,128,1);
    font-weight: 400;
    font-size: 0.875rem;
    margin: 16px 1px 0 0;
    padding: 8px 78px 8px 77px;
  }
  
  .u-section-2 .u-btn-4 {
    letter-spacing: 1px;
    background-image: none;
    box-shadow: 0px 0px 5px 0px rgba(128,128,128,1);
    font-weight: 400;
    font-size: 0.875rem;
    margin: 16px 1px 0 0;
    padding: 8px 74px;
  }
  
  .u-section-2 .u-btn-5 {
    letter-spacing: 1px;
    background-image: none;
    box-shadow: 0px 0px 5px 0px rgba(128,128,128,1);
    font-weight: 400;
    font-size: 0.875rem;
    margin: 16px 1px 0 0;
    padding: 8px 74px;
  }
  
  .u-section-2 .u-btn-6 {
    letter-spacing: 1px;
    background-image: none;
    box-shadow: 0px 0px 5px 0px rgba(128,128,128,1);
    font-weight: 400;
    font-size: 0.875rem;
    margin: 16px 1px 0 0;
    padding: 17px 63px 18px;
  }
  
  .u-section-2 .u-btn-7 {
    letter-spacing: 1px;
    background-image: none;
    box-shadow: 0px 0px 5px 0px rgba(128,128,128,1);
    font-weight: 400;
    font-size: 0.875rem;
    margin: 16px 1px 0 0;
    padding: 8px 68px 8px 67px;
  }
  
  .u-section-2 .u-btn-8 {
    letter-spacing: 1px;
    background-image: none;
    box-shadow: 0px 0px 5px 0px rgba(128,128,128,1);
    font-weight: 400;
    font-size: 0.875rem;
    margin: 16px 1px 0 0;
    padding: 8px 83px 8px 82px;
  }
  
  .u-section-2 .u-group-elements-2 {
    width: 386px;
    min-height: 443px;
    height: auto;
    margin: -592px 212px 0 auto;
  }
  
  .u-section-2 .u-image-1 {
    height: 250px;
    width: 250px;
    margin: 0 auto 0 68px;
  }
  
  .u-section-2 .u-text-2 {
    font-weight: 700;
    margin: 20px 0 0;
  }
  
  @media (max-width: 1199px) {
    .u-section-2 .u-group-1 {
      height: auto;
    }
  
    .u-section-2 .u-group-elements-2 {
      margin-top: -593px;
      margin-right: 112px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-2 .u-group-elements-1 {
      height: auto;
      margin-left: auto;
    }
  
    .u-section-2 .u-group-elements-2 {
      margin-top: 20px;
      margin-right: auto;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-2 .u-group-elements-2 {
      width: 340px;
      min-height: 385px;
    }
  
    .u-section-2 .u-image-1 {
      margin-left: auto;
    }
  
    .u-section-2 .u-text-2 {
      width: auto;
    }
  }