.u-block-f92c-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-f92c-3 {
  position: absolute;
  left: 0;
  width: 65px;
  height: 65px;
  background-image: none;
  right: auto;
  padding: 4px;
}

.u-block-f92c-4 {
  position: absolute;
  width: 65px;
  height: 65px;
  left: auto;
  background-image: none;
  right: 0;
  padding: 4px;
}

 .u-section-1-1 {
  background-position: 50% 50%, 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/sjp2cdofficial_cover.jpg');
  background-size: cover, cover;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 806px;
}

.u-section-1-1 .u-group-elements-1 {
  width: 825px;
  min-height: 231px;
  height: auto;
  margin: 60px auto;
}

.u-section-1-1 .u-text-1 {
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 0.92;
  letter-spacing: 2px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 825px;
  margin: 0 auto;
}

.u-section-1-1 .u-btn-1 {
  --radius: 6px;
  font-size: 0.9375rem;
  font-weight: 700;
  background-image: none;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 47px 336px 0;
  padding: 8px 33px;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 665px;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 50vh;
  }

  .u-section-1-1 .u-group-elements-1 {
    width: 720px;
  }

  .u-section-1-1 .u-text-1 {
    width: auto;
  }

  .u-section-1-1 .u-btn-1 {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 382px;
  }

  .u-section-1-1 .u-group-elements-1 {
    margin-top: 53px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 310px;
  }

  .u-section-1-1 .u-group-elements-1 {
    min-height: 268px;
    margin-top: 11px;
    margin-bottom: 31px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

 .u-section-1-2 {
  background-position: 50% 50%, 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-image: url('images/COURSES.jpg'), linear-gradient(to bottom, rgba(245, 247, 250, 1), rgba(245, 247, 250, 1));
  background-size: contain, cover;
}

.u-section-1-2 .u-sheet-1 {
  min-height: 806px;
}

@media (max-width: 1199px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 665px;
  }
}

@media (max-width: 991px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 509px;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 382px;
  }
}

@media (max-width: 575px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 310px;
  }
}

 .u-section-1-3 {
  background-position: 50% 50%, 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-image: url('images/NGE.jpg'), linear-gradient(to bottom, rgba(245, 247, 250, 1), rgba(245, 247, 250, 1));
  background-size: contain, cover;
}

.u-section-1-3 .u-sheet-1 {
  min-height: 806px;
}

@media (max-width: 1199px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 665px;
  }
}

@media (max-width: 991px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 509px;
  }
}

@media (max-width: 767px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 382px;
  }
}

@media (max-width: 575px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 310px;
  }
}

 .u-section-1-4 {
  background-position: 50% 50%, 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-image: url('images/NGE1.jpg'), linear-gradient(to bottom, rgba(245, 247, 250, 1), rgba(245, 247, 250, 1));
  background-size: contain, cover;
}

.u-section-1-4 .u-sheet-1 {
  min-height: 806px;
}

@media (max-width: 1199px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 665px;
  }
}

@media (max-width: 991px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 509px;
  }
}

@media (max-width: 767px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 382px;
  }
}

@media (max-width: 575px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 310px;
  }
}

 .u-section-1-5 {
  background-position: 50% 50%, 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-image: url('images/NGE2.jpg'), linear-gradient(to bottom, rgba(245, 247, 250, 1), rgba(245, 247, 250, 1));
  background-size: contain, cover;
}

.u-section-1-5 .u-sheet-1 {
  min-height: 806px;
}

@media (max-width: 1199px) {
  .u-section-1-5 .u-sheet-1 {
    min-height: 665px;
  }
}

@media (max-width: 991px) {
  .u-section-1-5 .u-sheet-1 {
    min-height: 509px;
  }
}

@media (max-width: 767px) {
  .u-section-1-5 .u-sheet-1 {
    min-height: 382px;
  }
}

@media (max-width: 575px) {
  .u-section-1-5 .u-sheet-1 {
    min-height: 310px;
  }
} .u-section-2 {
  background-image: linear-gradient(to bottom, rgba(173, 204, 233, 1), rgba(5, 87, 163, 1));
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.u-section-2 .u-sheet-1 {
  min-height: 554px;
}

.u-section-2 .u-text-1 {
  font-weight: 900;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-size: 2.5rem;
  width: 805px;
  margin: 20px auto 0;
}

.u-section-2 .u-text-2 {
  line-height: 2;
  font-size: 1rem;
  width: 810px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 21px auto 0;
}

.u-section-2 .u-list-1 {
  width: 1308px;
  margin: 20px -84px 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 15px));
  min-height: 320px;
  grid-auto-columns: calc(25% - 15px);
  grid-gap: 20px;
}

.u-section-2 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-1 {
  padding: 23px 18px;
}

.u-section-2 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-2 .u-text-4 {
  line-height: 1.8;
  font-size: 1rem;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-2 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-2 {
  padding: 23px 18px;
}

.u-section-2 .u-text-5 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-2 .u-text-6 {
  line-height: 1.8;
  font-size: 1rem;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-2 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-3 {
  padding: 23px 18px;
}

.u-section-2 .u-text-7 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-2 .u-text-8 {
  line-height: 1.8;
  font-size: 1rem;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-2 .u-list-item-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-4 {
  padding: 23px 18px;
}

.u-section-2 .u-text-9 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-2 .u-text-10 {
  line-height: 1.8;
  font-size: 1rem;
  font-weight: 400;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 698px;
  }

  .u-section-2 .u-text-1 {
    width: 413px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-left: 65px;
    margin-right: 65px;
  }

  .u-section-2 .u-list-1 {
    width: 940px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 226px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 10px));
    min-height: 739px;
    grid-auto-columns: calc(50% - 10px);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1185px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
    font-size: 1.875rem;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
} .u-section-3 {
  min-height: 819px;
}

.u-section-3 .u-shape-1 {
  height: 342px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: linear-gradient(#0557a3, #0a1a74);
}

.u-section-3 .u-layout-wrap-1 {
  width: 1140px;
  --radius: 50px;
  margin: -256px auto 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 783px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 50px;
}

.u-section-3 .u-container-layout-1 {
  box-shadow: 0px 2px 2px 0px rgba(128,128,128,1);
  padding: 30px 19px;
}

.u-section-3 .u-icon-1 {
  width: 64px;
  color: rgb(16, 129, 224) !important;
  height: 64px;
  margin: 31px auto 0;
}

.u-section-3 .u-text-1 {
  font-size: 1rem;
  margin: 11px 0 0;
}

.u-section-3 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: 51px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1rem;
  margin: 11px 0 0;
}

.u-section-3 .u-icon-3 {
  width: 64px;
  height: 64px;
  margin: 51px auto 0;
}

.u-section-3 .u-social-icons-1 {
  height: 41px;
  min-height: 16px;
  width: 143px;
  min-width: 68px;
  margin: 154px auto 0;
}

.u-section-3 .u-icon-4 {
  height: 100%;
}

.u-section-3 .u-icon-5 {
  height: 100%;
}

.u-section-3 .u-icon-6 {
  height: 100%;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 783px;
  --radius: 50px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-2 {
  box-shadow: 0px 2px 2px 0px rgba(128,128,128,1);
  padding: 30px;
}

.u-section-3 .u-form-1 {
  height: 549px;
  width: 459px;
  margin: 11px auto 0;
}

.u-section-3 .u-text-3 {
  margin-left: 0;
  font-weight: 700;
}

.u-section-3 .u-label-1 {
  font-size: 1rem;
}

.u-section-3 .u-label-2 {
  font-size: 1rem;
}

.u-section-3 .u-form-group-4 {
  margin-left: 0;
}

.u-section-3 .u-label-3 {
  font-size: 1rem;
}

.u-section-3 .u-label-4 {
  font-size: 1rem;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  font-weight: 400;
  text-transform: none;
  font-size: 1rem;
  padding: 0;
}

.u-section-3 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  width: 100%;
  padding: 16px 0 17px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 707px;
  }

  .u-section-3 .u-shape-1 {
    --bottom-left-radius: 50px;
    --bottom-right-radius: 50px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 646px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 646px;
  }

  .u-section-3 .u-form-1 {
    width: 395px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 280px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-form-1 {
    width: 285px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 380px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 25px;
  }

  .u-section-3 .u-container-layout-2 {
    padding: 25px;
  }
} .u-section-4 {
  min-height: 500px;
}
