.u-section-1 {
    background-position: 50% 50%, 50% 50%;
    background-repeat: no-repeat, no-repeat;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('images/sjp2cdofficial_cover.jpg');
    background-size: cover, cover;
  }
  
  .u-section-1 .u-sheet-1 {
    min-height: 332px;
  }
  
  .u-section-1 .u-text-1 {
    font-weight: 900;
    margin: 126px auto -6px;
  }
  
  @media (max-width: 1199px) {
    .u-section-1 .u-sheet-1 {
      min-height: 274px;
    }
  
    .u-section-1 .u-text-1 {
      margin-top: 104px;
      margin-bottom: 16px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-1 .u-sheet-1 {
      min-height: 210px;
    }
  
    .u-section-1 .u-text-1 {
      margin-top: 72px;
      margin-bottom: 48px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-1 .u-sheet-1 {
      min-height: 158px;
    }
  
    .u-section-1 .u-text-1 {
      margin-top: 60px;
      margin-bottom: 60px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-1 .u-sheet-1 {
      min-height: 99px;
    }
  
    .u-section-1 .u-text-1 {
      width: auto;
    }
  }.u-section-2 .u-sheet-1 {
    min-height: 3019px;
  }
  
  .u-section-2 .u-image-1 {
    height: 1447px;
    margin-top: 41px;
    margin-bottom: 0;
  }
  
  .u-section-2 .u-image-2 {
    height: 1369px;
    margin-top: 81px;
    margin-bottom: 60px;
  }
  
  @media (max-width: 1199px) {
    .u-section-2 .u-sheet-1 {
      min-height: 2490px;
    }
  
    .u-section-2 .u-image-1 {
      height: 1194px;
      margin-top: 40px;
    }
  
    .u-section-2 .u-image-2 {
      height: 1129px;
      margin-top: 64px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-2 .u-sheet-1 {
      min-height: 1920px;
    }
  
    .u-section-2 .u-image-1 {
      height: 914px;
      margin-top: 39px;
    }
  
    .u-section-2 .u-image-2 {
      height: 865px;
      margin-top: 50px;
      margin-bottom: 52px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-2 .u-sheet-1 {
      min-height: 1451px;
    }
  
    .u-section-2 .u-image-1 {
      height: 686px;
    }
  
    .u-section-2 .u-image-2 {
      height: 648px;
      margin-top: 39px;
      margin-bottom: 39px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-2 .u-sheet-1 {
      min-height: 914px;
    }
  
    .u-section-2 .u-image-1 {
      height: 432px;
      margin-top: 25px;
    }
  
    .u-section-2 .u-image-2 {
      height: 408px;
      margin-top: 24px;
      margin-bottom: 25px;
    }
  }